<div class="w-full flex justify-center">
  <div class="flex flex-col w-full max-w-xl">
    <section data-testid="todo-list" class="space-y-4 my-4" >
    <h1 class="text-center">Tarefas Pendentes</h1>

    @for (task of pendingTasks(); track task.title) {
      <div class="card bg-neutral text-neutral-contet" data-testid="todo-list-item">
        <div class="card-body items-center text-center">
          <h2 class="card-title" >{{task.title}}</h2>
        </div>
      </div>
    }
    @empty {
      <app-no-items class="flex justify-center" />
    }
    
  </section>

  <section data-testid="completed-list" class="space-y-4 my-4">
    <h1 class="text-center">Tarefas Concluídas</h1>

     @for (task of completedTasks(); track task.title) {
      <div class="card bg-neutral text-neutral-contet" data-testid="completed-list-item">
        <div class="card-body items-center text-center">
          <h2 class="card-title" >{{task.title}}</h2>
        </div>
      </div>
    }
    @empty {
      <app-no-items class="flex justify-center" />
    }
    
  </section>
  </div>
</div>